.sidebar {
  display: inline-block;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.sidebar-tab {
  color: white;
  background: transparent;
  border: none;
  height: 30px;
  font-size: 20px;
  margin: 5px 0;
  text-transform: capitalize;
}

.sidebar-tab.selected {
  background: #4c256d;
  border-radius: 0 1000em 1000em 0;
}

.sidebar-tab img {
  height: 25px;
}