.news-article {
  margin: 10px;
  background: #eeeeee;
  border-radius: 10px;
  color: black;
  display: inline-block;
}

.news-article img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.news-article :not(img) {
  padding: 5px;
}

.news-article-description {
  margin-top: 10px;
}